[build]
command = "yarn workspace client build"
functions = "functions"
publish = "apps/client/.next"

[dev]
command = "yarn dev"
targetPort = 8888
port = 3000
publish = ".next"

[[plugins]]
package = "@netlify/plugin-lighthouse"

[[plugins]]
package = "@netlify/plugin-nextjs"

[[redirects]]
from = "/netlify-api/*"
to = "./.netlify/functions/:splat"
status = 200

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "DENY"
